recursive-include demos *.py *.yaml *.html *.css *.js *.xml *.sql README
include anzu/epoll.c
include anzu/ca-certificates.crt
include anzu/test/README
include anzu/test/test.crt
include anzu/test/test.key
include anzu/test/static/robots.txt
global-exclude _auto2to3*