<div class="post">
  <div class="picture">
    ${ author_url="http://www.facebook.com/profile.php?id=" + escape(post["from"]["id"]) }
    <a href="${ author_url }"><img src="//graph.facebook.com/${ post["from"]["id"] | h}/picture?type=square"/></a>
  </div>
  <div class="body">
    <a href="${ author_url }" class="actor">${ post["from"]["name"] | h}</a>
    % if "message" in post:
      <span class="message">${ post["message"] | h}</span>
    % endif
    <div class="meta">
      % if "actions" in post:
        <a href="${ post["actions"][0]["link"] | h}" class="permalink">${ locale.format_date(datetime.datetime.strptime(post["created_time"], "%Y-%m-%dT%H:%M:%S+0000")) }</a>
      % endif
    </div>
  </div>
</div>
