Source: tornado
Maintainer: Facebook <python-tornado@googlegroups.com>
Section: python
Priority: optional
Build-Depends: cdbs (>= 0.4.49), python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.7.2

Package: python-tornado
Architecture: any
Depends: ${python:Depends}, python-pkg-resources, python-pycurl
Recommends: python-simplejson
Suggests: 
Provides: ${python:Provides}
Description: Tornado is an open source version of the scalable, non-blocking web server
 and and tools that power FriendFeed. Documentation and downloads are
 available at http://www.tornadoweb.org/
 .

