Source: anzu
Maintainer: W-Mark Kubacki <wmark+anzu@hurrikane.de>
Section: python
Priority: optional
Build-Depends: cdbs (>= 0.4.49), python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.7.2

Package: python-anzu
Architecture: any
Depends: ${python:Depends}, python-pkg-resources, python-pycurl
Recommends: 
Suggests: 
Provides: ${python:Provides}
Description: Anzu is a lightweight web application development framework 
 with Mako templating, gettext i18n, validators and sessions based on 
 Facebook's Tornado. Documentation and downloads are
 available at http://github.com/wmark/anzu
 .

